<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

<bean id = "Car" class = "assignment11.session3.Assignment11_3.HondaAmaze">
<!--Here we are using setter injection to inject properties -->
	<property name="engineType" value="Diesel"></property>
	<property name="engineCapacity" value="1200CC"></property>
</bean>

</beans>